# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Temporary testing
test_groq.py